.container {
    width: 1140px;
    margin: 0 auto;
}
/*header*/
.head {
   background: url('../images/Background.png') no-repeat center top / cover;
    padding-bottom: 180px;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.logo {
    display: block;
    background: url("../images/foliac-logo.png") no-repeat;
    height: 100px;
    width: 176px;
    margin-top: 35px;
    float: left;
}
.menu {
    float: right;
    margin-top: 78px;
}
.pmenu {
    display: block;
    float: left;
    color: white;
    text-decoration: none;
    font-family: "Lato bold", sans-serif;
    font-size: 16px;
    margin-left: 100px;
    position: relative;
}
.item:after {
    content: "/";
    color: #58626a;
    position: absolute;
    margin-left: 50px;
}
.titelf {
    font-family: "Big John";
    font-size: 46px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 155px;
}
.titels {
    font-family: "Slim Joe";
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 26px;
}
.buttonhead {
    background: transparent;
    border: 2px solid #48bf72;
    border-radius: 3px;
    font-family: Lato, sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #48bf72;
    margin: 0 auto;
    margin-top: 50px;
    padding: 11px 20px;
    display: block;
}
/*contact form*/
.titel {
    font-family: "Big John" , sans-serif ;
    font-size: 26px;
    color: #48bf72;
    text-align: center;
    text-transform: uppercase;
    padding-top: 51px;
    margin-bottom: 56px;
}
.contact_form{
    margin-left: 220px;
}
.imguser {
    background-color: #3c4955;
    border: 13px solid #3c4955;
    border-radius: 3px 0 0 3px;
    vertical-align: bottom;
    position: absolute;
}
.imgmail {
    border-bottom: 15px solid #3c4955;
    border-top: 15px solid #3c4955;
    border-right: 14px solid #3c4955;
}
.input {
    background-color: #f1f1f1;
    border: 2px solid #3c4955;
    border-radius: 3px;
    font-family: "Lato" , sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #a6a5a5;
    padding-left: 70px;
}
.line {
    margin-bottom: 30px;
}
.icon::after{
    content: "";
    display: inline-block;
    border: 6px solid transparent;
    border-left: 6px solid #3c4955;
    left: 48px;
    top: 1px;
    position: absolute;
}
.icon {
    display: inline;
    position: relative;
}
.inputuser {
    margin-right: 30px;
}
.inputmail {
    height: 42px;
    width: 260px;
}
.inputmessage {
    width: 626px;
    height: 210px;
    resize: none;
    padding-top: 15px;
}
.imgmessage {
    border-bottom: 198px solid #3c4955;
    border-right: 15px solid #3c4955;
}
.iconafter:after {
    top: -195px;
}
.button {
    background: #48bf72;
    color: #ffffff;
    border-radius: 3px;
    display: block;
    border-style: none;
    width: 700px;
    height: 50px;
    margin: 0;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}
/*footer*/
.down {
    background: #3c4955;
    height: 200px;
}
.madein {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 16px;
    float: left;
    padding-top: 92px;
}
.cosial_icon {
    display: block;
    margin-top: 72px;
    float: right;
}
.cosialicon {
    float: left;
 }
.pic {
    float: left;
    background: url("../images/social.png") no-repeat;
    height: 65px;
    width: 65px;
    margin-left: 10px;
}
.twitter {
    background-position: 0 0;
}
.linkedin {
    background-position: -87px 0;
}
.dribble {
     background-position: -177px 0;
}
.behance {
    background-position: -267px 0;
}
